In [40]:
import torch as th
import numpy as np
import pandas as pd

FILE_NAME = 'tensors.csv'

## create tensor

In [41]:
x = th.rand(10,128,8,8)

## saving tensor to pd

In [43]:
df = pd.DataFrame(x.reshape(-1,128*8*8).numpy())
df.head()

,0,1,2,3,4,5,6,7,8,9,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
0,0.300848,0.875582,0.239145,0.838301,0.797737,0.971929,0.064944,0.894372,0.511040,0.494494,...,0.707076,0.365867,0.856714,0.615019,0.755865,0.976913,0.753942,0.587880,0.259744,0.861574
1,0.881660,0.772498,0.081795,0.180832,0.203808,0.308231,0.351960,0.785366,0.930059,0.519310,...,0.492000,0.411297,0.167433,0.934171,0.531664,0.931035,0.204400,0.062413,0.634579,0.060938
2,0.629755,0.885070,0.005306,0.260184,0.710663,0.293522,0.124815,0.474495,0.238731,0.976248,...,0.942404,0.981487,0.880133,0.589129,0.880702,0.223161,0.488522,0.465535,0.481670,0.147570
3,0.092078,0.708037,0.420098,0.759910,0.690128,0.635686,0.396679,0.887019,0.712099,0.559251,...,0.944218,0.093074,0.226462,0.853999,0.856130,0.658201,0.776455,0.390075,0.817285,0.071388
4,0.504641,0.651844,0.838734,0.838753,0.988780,0.745986,0.262605,0.982133,0.340343,0.877390,...,0.405358,0.398688,0.666205,0.287524,0.533347,0.269622,0.641120,0.313836,0.335726,0.713856

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 8192 entries, 0 to 8191
dtypes: float32(8192)
memory usage: 320.1 KB

## iteratively add to tensor

In [45]:
x2 = th.rand(10,128,8,8)
df = df.append(pd.DataFrame(x2.reshape(-1,128*8*8).numpy()))
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 9
Columns: 8192 entries, 0 to 8191
dtypes: float32(8192)
memory usage: 640.2 KB

## storing as csv

In [46]:
df.to_csv(FILE_NAME)

## loading

In [47]:
df = pd.read_csv(FILE_NAME)
df.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,8182,8183,8184,8185,8186,8187,8188,8189,8190,8191
0,0,0.300848,0.875582,0.239145,0.838301,0.797737,0.971929,0.064944,0.894372,0.511040,...,0.707076,0.365867,0.856714,0.615019,0.755865,0.976913,0.753942,0.587880,0.259744,0.861574
1,1,0.881660,0.772498,0.081795,0.180832,0.203808,0.308231,0.351960,0.785366,0.930059,...,0.492000,0.411297,0.167433,0.934171,0.531664,0.931035,0.204400,0.062413,0.634579,0.060938
2,2,0.629755,0.885070,0.005306,0.260184,0.710663,0.293522,0.124815,0.474495,0.238731,...,0.942404,0.981487,0.880133,0.589129,0.880702,0.223161,0.488522,0.465535,0.481670,0.147570
3,3,0.092078,0.708037,0.420098,0.759910,0.690128,0.635686,0.396679,0.887019,0.712099,...,0.944218,0.093074,0.226462,0.853999,0.856130,0.658201,0.776455,0.390075,0.817285,0.071388
4,4,0.504640,0.651844,0.838734,0.838753,0.988780,0.745986,0.262605,0.982133,0.340343,...,0.405358,0.398688,0.666205,0.287524,0.533347,0.269622,0.641120,0.313836,0.335726,0.713856

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Columns: 8193 entries, Unnamed: 0 to 8191
dtypes: float64(8192), int64(1)
memory usage: 1.3 MB

In [53]:
loaded_x = th.tensor(df.values[:,1:])
print(loaded_x)
print(loaded_x.shape)

tensor([[0.3008, 0.8756, 0.2391,  ..., 0.5879, 0.2597, 0.8616],
        [0.8817, 0.7725, 0.0818,  ..., 0.0624, 0.6346, 0.0609],
        [0.6298, 0.8851, 0.0053,  ..., 0.4655, 0.4817, 0.1476],
        ...,
        [0.2730, 0.3379, 0.0751,  ..., 0.0171, 0.8183, 0.9141],
        [0.3614, 0.9075, 0.0400,  ..., 0.1994, 0.5149, 0.0997],
        [0.7749, 0.6609, 0.6746,  ..., 0.3625, 0.1245, 0.2074]],
       dtype=torch.float64)
torch.Size([20, 8192])

## umap on this

In [54]:
import umap

In [55]:
reducer = umap.UMAP()

AttributeError: module 'umap' has no attribute 'UMAP'

In [ ]:
umap_embedding = reducer.fit_transform(final_data)

In [ ]:
umap_embedding_split = np.array_split(umap_embedding, np.add.accumulate([len(l) for l in game_matrices]))[:-1]

In [ ]:
fig = plt.figure(figsize=(8,8))
ax = fig.add_subplot(111)
ax.set_aspect(1)
for game in umap_embedding_split[:100]:
    ax.plot(game[:,0], game[:,1], '-r', alpha=0.1, color='red')
for game in umap_embedding_split[100:]:
    ax.plot(game[:,0], game[:,1], '-r', alpha=0.1, color='blue')

## storing again with x,y